<div class="container">
  <ul class="list-inline">
    <li>Copyright © 2017 Livsty SAS. Tous droits réservés | <%= link_to "Mentions Légales.", legal_path %></li>
    <li class="pull-right"></li>
  </ul>
</div>
