<div class="container text-overlay">
  <div class="row">
    <div class="col-xs-12" style="text-align: left">
      <h1><span style="white-space: nowrap">L'Investissement <span class="greened">Immobilier </span> Autrement !</span></h1>
      <p>Rejoignez Livsty, la plateforme qui révolutionne l'investissment immobilier. Quand l'investissement se veut solidaire: Livsty repense la façon d'investir dans un bien occupé et d'accompagner les séniors dans leurs besoins.</p>
      <p>Notre mission: rendre accessible à tous une stratégie d'épargne d'avenir qui allie respect des personnes, gestion du patrimoine et optimisation des revenus.</p>
      <p>Basé à Paris, Livsty est une plateforme en ligne d'investissement dans l'immobilier.</p>
    </div>
  </div>
  <!-- <div class="row"> -->
    <div class="col-xs-12 text-center turquoise">
      <div class="row">
        <div class="col-xs-12 col-sm-4 padded">
          <%= image_tag "lightbulbEuro128.png", alt: "Investir Innovant" %>
            <div class="greyback">
              <h3 >Une nouvelle façon d'investir</h3>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 padded">
          <%= image_tag "line-up128.png", alt: "Graphique Croissant" %>
            <div class="greyback">
              <h3 >Je&nbsp;fais&nbsp;fructifier mon&nbsp;épargne</h3>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 padded">
          <%= image_tag "security128.png", alt: "Protégé" %>
            <div class="greyback">
              <h3>La pierre-papier robuste</h3>
            </div>
        </div>
      </div>
    </div>
  <!-- </div> -->
</div>


