<ul class="nav navbar-nav">
  <li><a class="navbar-container-item navbar-livsty-button btn" type="Sign-in" data-toggle="modal" data-target="#myModal">S'Identifier</a></li>

  <li><a class="navbar-container-item navbar-livsty-button btn" type="Sign-up" data-toggle="modal" data-target="#myModal">Inscription</a></li>
</ul>

<!-- Modal -->
  <div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times </button>
         <h3>Pré-Inscription</h3>

        </div>
        <div class="modal-body">
        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
        <form action="//xyz.us13.list-manage.com/subscribe/post?u=60b7a001923cf751f41062816&amp;id=71565ee483" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <h4>Nous sommes encore en phase de développement. Veuillez vous inscrire en remplissant le formulaire suivant et nous vous informerons dès que vous pourrez investir avec Livsty.</h4>

            <div class="form-group">
              <label for="mce-EMAIL">Votre Adresse Email  <span class="asterisk">*</span>
              </label>
              <input type="email" value="" name="EMAIL" class="form-control required email" id="mce-EMAIL">
            </div>
            <div class="form-group">
              <label for="mce-FNAME">Nom </label>
              <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME">
            </div>
            <div class="form-group">
              <label for="mce-LNAME">Prénom </label>
              <input type="text" value="" name="LNAME" class="form-control" id="mce-LNAME">
            </div>
            <div class="indicates-required"><span class="asterisk">*</span> Champs Obligatoires</div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_60b7a001923cf751f41062816_71565ee483" tabindex="-1" value=""></div>
            <div class="clear"></div>
          </div>

          <input type="submit" class="btn btn-default" value="S'inscrire" name="subscribe" id="mc-embedded-subscribe" >

        </form>
        </div>
        <!--End mc_embed_signup-->
        </div>
      </div>
    </div>
  </div>

<nav class="navbar" role="navigation" id="nav">
  <div class="container" id="menu">

    <div class="collapse navbar-collapse pull-right" id="navbar" >
      <ul class="nav navbar-nav main-menu" id="top-menu">
        <li><a href="index.html" class="active" data-id="">INVESTIR</a></li>
        <li><a href="seller.html" class="" data-id="">VENDRE VOTRE BIEN</a></li>
        <li role="presentation" class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" data-id="">AUTRE <span class="caret"></span> </a>
          <ul class="dropdown-menu">
            <li><a href=""  data-id="">NOUS CONNAITRE</a></li>
            <li><a href=""  data-id="">FAQ</a></li>
            <li><a href="#Contact" data-id="">CONTACT</a></li>
          </ul>
        </li>
      </ul>
    </div>

  </div>
</nav>
