<b>Livsty</b> vous souhaite la bienvenue <%= @user. first_name %>
<!-- <br> -->
<p>Vous pourrez dans quelques instant parcourir nos offres d'investissements!</p>
<!-- <br> -->
<%= link_to "Rendez-vous sur livsty.com", root_url  %>




