/* -------------------------------------
 * CSS code specific to faq page
 * (margin/padding adjustments)
 * ------------------------------------- */

#FAQ-Content{
  font-size: 14px;
  text-align: justify;
  padding-top:15px;
}

.faq-section-title{
  font-size: 28px;
  font-weight: bold;
}

.faq-subsection-title{
  font-size: 20px;
  color: $body-color-darkgray;
}
.faq-subsection{

}

a.nounderline:link
{
  color: inherit;
  text-decoration:none;
}

#FAQ-Nav{
  padding-top:25px;
}

#FAQ-Nav > ul > li > a{
  color: $body-color-darkgray;
}

#FAQ-Nav > ul > li > a:hover{
  color: $navbar-color-lightblue;
  background-color: $navbar-color-lightgray;
}

#FAQ-Nav > ul > li.active > a{
  color: $navbar-color-darkblue;
  background-color: $navbar-color-lightgray;
  font-size: 20px;
}

.faq-subsection-title .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: none;        /* adjust as needed */
    margin-left: 10px;
    color: $body-color-darkgray;         /* adjust as needed */
}
.faq-subsection-title .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}
