/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

h4{
  font-weight: 300;
}

/*CSS pour dréer des cercles*/
.circle {
  border-radius: 50%;
  max-width:40vw;
}

.circle-border {
  border: 1px solid #33cccc;
}


.circle-solid{
  background-color: whitesmoke;
}

.circle:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.circle-inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}

.score-text {
  margin: 20% 0% 80% 0%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1em;
  line-height: 2em;
  font-size: 1em;
  color: #33cccc;

}
.definition{
  line-height: 1em;
  padding-left: 10%;
  padding-right: 10%;

  text-align:center;

}

// separate sections

hr {
  border-style: solid;
  border-top-width: 3px;
  /*border: 15px;
  height:30px; */
}

.hr_gray {
  border-color: #C1EFEF;
  border-width: 1px;
}

.team_hr_right{
  margin-bottom:3em;
}

// Expertise

.bubble{
  margin-top: 3em;
}

// Transaction

.block-line{
  padding-top: 2em;
  padding-bottom: 2em;
}

#footer{
  height: 180px;
  width:100%;
  font-size: 0.8em;
  margin: 0;
  padding-top: 0px;
  border-radius:0px;
}
