/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

h4{
  font-weight: 300;
}

hr {
  border-style: solid;
  border-top-width: 3px;
  /*border: 15px;
  height:30px; */
}

.hr_gray {
  border-color: #C1EFEF;
  border-width: 1px;
}

.team_hr_right {
  margin-bottom:3em;
}

// Expertise

.bubble {
  margin-top: 3em;
}

// Transaction

.block-line{
  padding-top: 2em;
  padding-bottom: 2em;
}

#footer{
  height: 180px;
  width: 100%;
  font-size: 0.8em;
  margin: 0;
  padding-top: 0px;
  border-radius:0px;
}
