/*CSS Informations Legales*/
.article-main-title{
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}
.article-title{
  // font-size:30px;
  font-size:1.8em;
  padding-top: 0.8em;
  padding-bottom: 0.4em;
  /* font-weight:16px; */
}
.article-subtitle{
  // font-size: 24px;
  font-size:1.5em;
  font-weight:400;
  text-decoration: underline;
}
.article-date{
  // font-size:18px;
  font-size:1.2em;
  text-align:right;
  font-style: italic;
}
