/* -------------------------------------
 * CSS code specific to seller page
 * (margin/padding adjustments)
 * ------------------------------------- */

.livsty-seller-formula{

  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;

}

.floating-box {
    text-align: center;
    width:11%;
}

.livsty-seller-formula-img-caption{
  text-align: center;

}
