<section class="fs-section fs-section-table banner-homepage" style="background-image: url('<%= image_path "senior-citizen-bg.jpg" %>');">
  <div class="fs-overlay fs-overlay-table" style="opacity: 0.4; background-color: rgb(0, 0, 0);"></div>
  <div class="fs-table-cell">
    <div class="container">
      <div class="fs-content-section row">
        <div class="container">
          <h1 class="display-title slideDown">Nous croyons en <span class="greened">une nouvelle <br> expérience Viager.</span ></h1>
          <h3 class="slideDown">Vendez votre bien en Viager avec Livsty</h3>
          <h4 class="slideDown"> et épargnez vous les lourdeurs d'annonces, visites, négociations et mois d'incertitudes.</h4>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-8" data-form-type="formoid">
              <div data-form-alert="true">
                <div hidden="" data-form-alert-success="true" class="alert alert-form alert-success text-xs-center">Thanks for filling out form!</div>
              </div>
              <form class="fs-form" action="https://livsty.fr/" method="post" data-form-title="INTRO WITH SUBSCRIBE FORM">
                <input type="hidden" value="key" data-form-email="true">
                <div class="fs-subscribe fs-subscribe-transparent input-group">
                  <input type="email" class="form-control" name="email" required="" data-form-field="Email" placeholder="Entrez votre adresse">
                  <span class="input-group-btn"><button type="submit" class="btn btn-primary">Et recevez notre Offre</button></span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
