<section class="fs-section fs-section-table banner-homepage" style="background-image: url('<%= image_path "senior-citizen-bg.jpg" %>');">
  <div class="fs-overlay fs-overlay-table" style="opacity: 0.4; background-color: rgb(0, 0, 0);"></div>
  <div class="fs-table-cell">
    <div class="container">
      <div class="fs-content-section row">
        <div class="container">
          <h1 class="display-title slideDown"><%= t '.banner-title_html' %></h1>
          <h3 class="slideDown"><%= t '.punch-line-1' %></h3>
          <h4 class="slideDown"> <%= t '.punch-line-2' %></h4>
        </div>

        <div class="col-sm-6 col-sm-offset-3 text-center"> <!-- /input-group -->
          <div class="input-group" style="width:100%">
            <!-- <input type="text" class="form-control" placeholder="Entrez votre adresse..." disabled>-->
            <a class=""  data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><h2 class="btn btn-invest">Vendre en Viager avec Livsty -></h2></a>
            <div class="collapse" id="collapseExample">
              <div class="blueback" >
                Contacter-nous au 01 75 85 84 24
                ou par email <a href="mailto:contact@livsty.fr" style="text-decoration:none" alt="Contact Pour Vendre en Viager">contact@livsty.fr</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</section>
