<div class="row" id="services">
  <div class="col-sm-12">
    <div class="text-center">
      <hr class="team_hr team_hr_left hr_gray">
      <h1>Le viager en toute simplicité</h1>
      <hr class="team_hr team_hr_right hr_gray">
    </div>
    <p style="text-align: justify">Notre objectif, vous proposez une solution simple, rapide et adaptée à vos besoins. Les visites, négociations, transactions qui échouent et les mois d'attentes ne seront plus qu'un mauvais souvenir. Nous vous faisons une offre qui correspond à vos besoins et que nous nous efforçons de financer en 60 jours maximum. Vous touchez l'intégralité de la vente; à vous d'en profiter !</p>
  </div>
</div>


<!--<div class="row">
  <div class="col-sm-6 col-md-3">
    <h3 class="text-center">Simplicité</h3>
    <br>
    <p style="text-align: justify">Vous souhaitez extraire le capital bloqué dans la valeur de votre propriété mais continuer d'y habiter. </p>
  </div>
  <div class="col-sm-6 col-md-3">
    <h3 class="text-center">Rapidité</h3>
    <br>
    <p style="text-align: justify">Nous vous faisons une offre et nous la finançons dans un délais de 60 jours.
    </p>
  </div>
  <div class="col-sm-6 col-md-3">
    <h3 class="text-center">Liberté</h3>
    <br>
    <p style="text-align: justify" >Vous choisissez comment vous souhaitez percevoir votre capital. </p>
  </div>
  <div class="col-sm-6 col-md-3">
    <h3 class="text-center">Sécurité</h3>
    <br>
    <p style="text-align: justify">Pas d'impayés, ni de manque à gagner et nous vous accompagnons dans la gestion du bien pendant la période d'occupation. </p>
  </div>
</div>-->
