<div class="inner-navbar-bootstrap">
  <ul class="nav navbar-nav borderline main-menu collapse navbar-collapse pull-right" id="top-menu">
    <li><%= nav_link_to t(".invest"), root_path%></li>
    <li><%= nav_link_to t(".sell"), seller_path%></li>
    <li><%= nav_link_to t(".opportunities_html"), deals_path%></li>
    <!-- <div class="navbar-container-item navbar-livsty-link"> -->
    <li role="presentation" class="dropdown">
    <!-- <div class="dropdown"> -->
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-id=""><i class="fa fa-info" aria-hidden="true"></i> <span class="caret"></span> </a>
      <ul class="dropdown-menu">
        <li><a href="" data-id="">NOUS CONNAÎTRE</a></li>
        <li><a href=""  data-id="">FAQ</a></li>
        <li><a href="#Contact" data-id="">CONTACT</a></li>
      </ul>
    <!-- </div> -->
    </li>
  </ul>
</div>
