<h1>Details about <%= @user.email %></h1>

<p>Here are the details of your investments:<p>

<ul>
  <% @user.investments.each do |investment| %>
    <li>Deal#<%= investment.deal.id %></li>
    <li>Shares#<%= investment.shares %></li>
    <li>Price#<%= investment.price %></li>
    <br>
  <% end %>
</ul>


