.btn-invest{
  width:100%;
  font-size:1.1em;
  font-weight:500;
  padding: 0.7em 1em;
  background-color: $navbar-color-darkblue;
  color:$navbar-color-lightgray;
  -webkit-transition: background-color .2s ease-in-out;
  -o-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
}
.btn-invest:hover{
  background-color: $navbar-color-lightblue;
  color:$navbar-color-lightgray;
  border-color:$navbar-color-lightblue;
}
.btn-deal-invest{
  padding-bottom: 0px;
  margin-bottom:0px;
}
.btn-phone-validation{
  border: 1px solid #ff5a5f;
  background-color: #ff5a5f;
}
