.deal-overview-asset {
  font-size:0.9em;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.deal-overview-asset *{
  color: #696969;
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum" 1;
  -moz-font-feature-settings: "lnum=1";
  -ms-font-feature-settings: "lnum" 1;
  -o-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
}

.deal-overview-asset .glyphicon{
  color: #33CCCC;
}
.deal-overview-asset .fa {
  margin-right: 0.4em;
  color: #33CCCC;
}

.deal-overview-asset-header{
  padding-top: 1em;
  text-align: center;
}

.deal-property-type, .deal-investors, .deal-progress-deadline{
  text-align:right;
}

.deal-address-city{
  font-size:1.5em;
}

.number-room{
  font-size:1.3em;
}

.deal-overview-asset dt{
  font-weight:400;
}
.deal-overview-asset dd{
  font-size:1.4em;
  font-weight:500;
}

.deal-data-progres{
  padding-bottom: 1.5em;
  border-bottom: 1px solid #DEDEDE;
}

.deal-data-rendement{
  text-align:center;
}
.deal-data-rendement-title{
  margin-top:0.7em;
  margin-bottom:0.7em;
  font-size: 1.5em;
}
.opportunity-table-parameters td {
  padding-top:6px;
  padding-bottom:4px;
}


