<div class="row" id="Contact">
  <div class="text-center">
    <hr class="team_hr team_hr_left hr_gray">
    <span class="txt_darkgrey">NOUS CONTACTER</span>
    <hr class="team_hr team_hr_right hr_gray">
  </div>
  <div class="col-md-8">
    <div class="img-responsive" id="map-container" { height: 100% }>
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5247.91264309552!2d2.3028507!3d48.8781092!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66fc77007c191%3A0x55a2351a6ab79bdc!2s8+Rue+Louis+Murat%2C+75008+Paris-8E-Arrondissement%2C+France!5e0!3m2!1sen!2suk!4v1483888668030" width="600" height="450" frameborder="0" style="border:0">
      </iframe>
    </div>
  </div>
  <div class="col-md-4 contact_right">
    <p>N'hésitez pas à nous contacter, nous sommes là pour vous aider dans vos projets.</p>
    <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>  14 Rue Paradis, 75008 Paris</p>
    <p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>   - </p>
    <p><span class="glyphicon glyphicon-globe" aria-hidden="true"></span><a class="link_orange" href="index.html"><span class="txt_orange">  www.livsty.fr</span></a></p>
    <form class="form-horizontal" action="https://www.enformed.io/8wut89ha" method="POST" id="EmailContact">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Votre Nom..." maxlength="40" name="name" required>
      </div>
      <div class="form-group">
        <input type="email" class="form-control" placeholder="Votre Email..." maxlength="40" name="email" required>
      </div>
      <div class="form-group">
        <textarea type="text" class="form-control" style="height: 130px;" placeholder="Tapez votre message..." name="message" required></textarea >
      </div>
      <input type="hidden" name="*default_email" value="contact@livsty.fr" />
      <input type="hidden" name="*honeypot" />
      <input type="hidden" name="*redirect" value="http://www.livsty.fr" />
      <button type="submit" class="btn btn-orange pull-right">ENVOYER</button>
    </form>
  </div>
</div>
