<nav class="navbar navbar-default navbar-static-bottom" id="footer">

  <div class="col-md-10 col-md-offset-1 text-center">
    <h3>AVERTISSEMENT</h3>
    <p>
      L’investissement dans l'immobilier sur LIVSTY présente des risques parmi lesquels : la perte partielle ou totale du capital investi, l’illiquidité,
      l’absence de valorisation après l’investissement ainsi que l'incertitude sur la durée de l'investissement. Il s'agit d'un investissement indirect dans l'immobilier
      sur un horizon long-terme et que vous pouvez être amené à conserver plus longtemps qu'initialement estimé.
    </p>
    <a href="risks.html" >Le détails des Risques.</a>
  </div>
  <div class="container">
    <ul class="list-inline">
      <li>Copyright © 2017 Livsty SAS. Tous droits réservés | <a href="legal.html">Mentions Légales</a></li>
      <li class="pull-right"></li>
    </ul>
  </div>
</nav>
