<!-- data-spy="scroll" data-target="#navbar" data-offset="100" -->
<nav class="navbar navbar-fixed-top" role="navigation" id="nav">
  <div class="container" id="menu">

    <div class="navbar-header">
      <!-- <a class="navbar-brand" href="#top">
        <img alt="Logo Livsty" class="img-responsive" src="../logo/Logo.png">
      </a> -->
      <%= link_to root_path, class: "navbar-brand", alt: "Logo Livsty" do %>
        <%= image_tag "Logo.png" %>
      <% end %>

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" id="navbar-collapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse navbar-right" id="navbar" >
      <ul class="nav navbar-nav main-menu" id="top-menu">
        <li><a href="/" class="active" data-toggle="collapse" data-target="#" data-id="">INVESTIR</a></li>
        <li><a href="/seller" class="" data-toggle="collapse" data-target="#" data-id="">VENDRE VOTRE BIEN</a></li>
        <li><a href="/deals" class="" data-toggle="collapse" data-target="#" data-id="">OPPORTUNIT&EacuteS</a></li>
        <li role="presentation" class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" id="dropdown-menu">AUTRE <span class="caret"></span> </a>
          <ul class="dropdown-menu dropdown-menu-left">
            <li><a href=""  data-id="">NOUS CONNAITRE</a></li>
            <li><a href=""  data-id="">FAQ</a></li>
            <li><a href="#Contact" data-target="#" data-id="">CONTACT</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav">
        <li><a class="btn-bar btn-default" type="Connect" data-toggle="modal" data-target="#myModal">S'Identifier</a></li>
        <li><a class="btn-bar btn-default" type="Sign-in" data-toggle="modal" data-target="#myModal">Inscription</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<!-- render 'components/modal-registration' %> -->
