<h4><u>Analyse de Sensibilité</u></h4>
<table class="table text-center opportunity-sensitivityanalysis">
  <caption class="text-center">
    <strong>Prix de Revente du Bien - Plus-Value Brute - Rendement Annualisé Brut (€)</strong>
    <br>Durée d'Investissement / Performance Annuelle du Marché Immobilier
  </caption>
  <thead>
    <tr >
      <td></td>
      <td class="text-center">-0.75%</td>
      <td class="text-center">0.00%</td>
      <td class="text-center">0.75%</td>
      <td class="text-center">1.50%</td>
      <td class="text-center">2.25%</td>
      <td class="text-center">3.00%</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>12</th>
      <td>233k - 93k - 4.34%</td>
      <td>255k - 115k - 5.12%</td>
      <td>279k - 139k - 5.91%</td>
      <td>305k - 165k - 6.70%</td>
      <td>333k - 193k - 7.49%</td>
      <td>364k - 224k - 8.28%</td>
    </tr>
    <tr>
      <th>13</th>
      <td>231k - 91k - 3.94%</td>
      <td>255k - 115k - 4.72%</td>
      <td>281k - 141k - 5.51%</td>
      <td>309k - 169k - 6.29%</td>
      <td>341k - 201k - 7.08%</td>
      <td>374k - 234k - 7.86%</td>
    </tr>
    <tr>
      <th>14</th>
      <td>229k - 89k - 3.59%</td>
      <td>255k - 115k - 4.38%</td>
      <td>283k - 143k - 5.16%</td>
      <td>314k - 174k - 5.94%</td>
      <td>348k - 208k - 6.72%</td>
      <td>386k - 246k - 7.51%</td>
    </tr>
    <tr>
      <th>15</th>
      <td>228k - 88k - 3.30%</td>
      <td>255k - 115k - 4.08%</td>
      <td>285k - 145k - 4.86%</td>
      <td>319k - 179k - 5.64%</td>
      <td>356k - 216k - 6.42%</td>
      <td>397k - 257k - 7.20%</td>
    </tr>
    <tr>
      <th>16</th>
      <td>226k - 85k - 3.01%</td>
      <td>255k - 114k - 3.79%</td>
      <td>287k - 146k - 4.58%</td>
      <td>324k - 183k - 5.36%</td>
      <td>364k - 223k - 6.14%</td>
      <td>409k - 268k - 6.92%</td>
    </tr>
    <tr>
      <th>17</th>
      <td>224k - 82k - 2.76%</td>
      <td>255k - 113k - 3.54%</td>
      <td>290k - 148k - 4.33%</td>
      <td>328k - 186k - 5.11%</td>
      <td>372k - 230k - 5.89%</td>
      <td>421k - 280k - 6.67%</td>
    </tr>
  </tbody>
</table>
