<div class="banner-home">
  <div class="video-container">
    <video autoplay loop poster="senior-citizen-.jpg" id="bgvid">
      <source src="http://res.cloudinary.com/dqoj6yz5k/video/upload/v1485179934/The-Boulevard_cwhv8w.mp4" type="video/mp4">
    </video>
  </div>
  <div class="banner-home-content">
    <h1 class= "slideDown">Bienvenue <%= current_user.email %></h1>
    <p class= "slideDown">Vendez votre bien en Viager avec Livsty</p>
    <p class= "slideDown">et épargnez vous les lourdeurs d'annonces, visites, négociations et mois d'incertitudes</p>
    <%= link_to "", id: "click-to-scroll" do %>
    <i class="fa fa-angle-down floating"></i>
    <% end %>
  </div>
</div>




