<div class="banner-home">
  <div class="video-container">
    <video autoplay loop poster="<%= image_path 'ParisMontparnasse.jpeg' %>" id="bgvid">
      <source src="http://res.cloudinary.com/dqoj6yz5k/video/upload/v1485179934/The-Boulevard_cwhv8w.mp4" type="video/mp4">
    </video>
  </div>
  <div class="banner-home-content">
    <h1 class= "slideDown">Bienvenue <%= current_user.first_name %></h1>
    <p class= "slideDown">You are currently connected as <%= current_user.email %> </p>
    <p class= "slideDown">Profitez de nos offres d'investissements, en parcourant le site à la recherche de viagers</p>
    <%= link_to "", id: "click-to-scroll" do %>
    <i class="fa fa-angle-down floating"></i>
    <% end %>
  </div>
</div>




