<div class="row" id="Expertise">
  <div class="text-center">
    <hr class="team_hr team_hr_left hr_gray">
    <h1>Le Concept</h1>
    <hr class="team_hr team_hr_right hr_gray">
  </div>
  <div class="col-sm-3 text-center bubble">
    <%= image_tag "group128.png", class: "logo-full", alt: "Ensemble" %>
    <h4>Investir ensemble c'est mutualiser le risque.</h4>
  </div>
  <div class="col-sm-3  text-center bubble">
    <%= image_tag "addition128.png", class: "logo-full", alt: "Simple" %>
    <h4>Standardiser: un bon investissement doit être simple à comprendre.</h4>
  </div>
  <div class="col-sm-3 text-center bubble" >
    <%= image_tag "hand-shake128.png", class: "logo-full", alt: "Confiance" %>
    <h4>Intégrer l'ensemble des services c'est préserver le rendement de votre investissement.</h4>
  </div>
  <div class="col-sm-3 text-center bubble" >
    <%= image_tag "browser128.png", class: "logo-full", alt: "Direct" %>
    <h4>Investir en direct dans l'immobilier et gérer son portefeuille en un clic.</h4>
  </div>
</div>
