<div class="row" id="Services">
  <div class="col-sm-12">
    <div class="text-center">
      <hr class="team_hr team_hr_left hr_gray">
      <h2>Innovation, Immobilier et Solidarité</h2>
      <hr class="team_hr team_hr_right hr_gray">
    </div>
    <p>Notre objectif, proposer un investissement simple et innovant dans la pierre tout en apportant une réponse aux besoins de financement des séniors.</p>
  </div>

  <div class="col-sm-4">
    <h3 class="text-center">Innovation</h3>
    <br>
    <p>Solution ancienne, le Viager a pendant longtemps été victime de sa réputation et de son fonctionnement spécifique, qui allait à l'encontre de nombreux principes d'investissement.</p>
    <p>En le repensant et en l'associant aux outils modernes, Livsty transforme le Viager en une stratégie patrimoniale d'avenir ouverte à tous.</p>
  </div>
  <div class="col-sm-4">
    <h3 class="text-center">Immobilier</h3>
    <br>
    <p>La pierre, un investissement solide ! Placement préféré des français, l'immobilier constitue une classe d'actifs moins risquée et moins volatile que les placements boursiers et autres investissements classiques.</p>
    <p>Chez Livsty, nous trouvons anormal que l'investissement dans la pierre ait si peu évolué en 50 ans. Comme de nombreux secteurs, nous estimons que les bouleversements technologiques, doivent nous amener à repenser l'investissement dans la pierre. Livsty offre une nouvelle version de ce qu'il pourrait être.</p>
  </div>
  <div class="col-sm-4">
    <h3 class="text-center">Solidarité</h3>
    <br>
    <p>Les seniors peuvent faire face à des problèmes de trésorerie et ont peu d’alternatives de financement. Livsty offre une solution gagnant-gagnant qui garantit aux séniors une offre de financement et à l'investisseur une solution de placement immobilier solidaire et innovante pour faire fructifier son épargne.</p>
    <p>Investir avec Livsty c’est redonner aux seniors la possibilité de se maintenir à domicile et de profiter pleinement de leur retraite.</p>
  </div>
</div>
