<div class="row" id="services">
  <div class="col-sm-12">
    <div class="text-center">
      <hr class="team_hr team_hr_left hr_gray">
      <h1>Innovation, Immobilier et Solidarité</h1>
      <hr class="team_hr team_hr_right hr_gray">
    </div>
    <p style="text-align: justify">Notre objectif, proposer un investissement simple et innovant dans la pierre tout en apportant une réponse aux besoins de financement des séniors.</p>
  </div>
  <div class="col-sm-4">
    <h3 class="text-center">Innover</h3>
    <br>
    <p style="text-align: justify">Solution ancienne, le Viager a pendant longtemps été victime de sa réputation et de son fonctionnement spécifique, qui allait à l'encontre de nombreux principes d'investissement.</p>
    <p style="text-align: justify">En le repensant et en l'associant aux outils modernes, Livsty transforme le Viager en une stratégie patrimoniale d'avenir ouverte à tous.</p>
  </div>
  <div class="col-sm-4">
    <h3 class="text-center">Immobilier</h3>
    <br>
    <p style="text-align: justify" >La pierre, un investissement solide ! Placement préféré des français, l'immobilier constitue une classe d'actif moins risqué et moins volatile que les placements boursiers et autres investissements classiques.</p>
    <p style="text-align: justify" >Chez Livsty, nous pensons que bien que fait pour durer, il n'est pas normal que l'investissement dans la pierre n'ait que peu évolué en 50 ans. Comme de nombreux secteurs, nous estimons que les bouleversements technologiques, doivent nous amener à repenser l'investissement dans la pierre. Livsty offre une nouvelle version de ce qu'il pourrait être.</p>
  </div>
  <div class="col-sm-4">
    <h3 class="text-center">Solidaire</h3>
    <br>
    <p style="text-align: justify" >Le financement des séniors est une des problématiques majeures auxquelles doivent faire face les sociétés occidentales. Financer le maintien à domicile des séniors c'est leur offrir la possibilité de vivre leur retraite pleinement.</p>
    <p style="text-align: justify" >Aujourd'hui souvent exclu par la société, Livsty offre une solution gagnant-gagnant qui garantit aux séniors une offre de financement et à l'investisseur une solution de placement immobilier solidaire et innovante pour y faire fructifier son épargne.</p>
  </div>
</div>
