<div class="row" id="transactions">
  <div class="text-center">
    <hr class="team_hr team_hr_left hr_gray">
    <h1>Comment ça marche?</h1>
    <hr class="team_hr team_hr_right hr_gray">
  </div>
  <div class="col-sm-12 block-line" >
    <div class="row vertical-align-row">
      <div class="col-sm-4 vertical-align" >
        <div class="text-center">
          <%= image_tag "home-outline124.png", class: "logo-full", alt: "Propriété Occupée" %>
        </div>
      </div>
      <div class="col-sm-8 vertical-align">
        <div style="text-align: justify">
          <h3>1 - J'investis</h3>
          <p>Je suis investisseur dans un bien immobilier occupé. Le bien étant habité, sa valeur est inférieure à sa valeur de marché car diminuée de la valeur du droit d'occupation.</p>
          <p>Investir dans un bien occupé constitue une alternative à l’investissement locatif. Cela permet une meilleure gestion du risque tout en répondant à un besoin social croissant auprès de nombreux retraités.</p>
          <p>Le montant recherché par projet correspond notamment au prix d'acquisition du bien augmenté des provisions nécessaires pour supporter les coûts durant la période d'occupation. Le prix unitaire de souscription d'une part dans un projet est fixé à 1000€.</p>
          <p>Je sélectionne les projets qui m'intéressent et je choisis le montant que je désire investir. Quand le total des montants souscrits par les investisseurs dans le projet atteint le montant recherché, la période de souscription cesse et l'investissement est réalisé. Je deviens co-investisseur dans un bien immobilier que j'ai choisi.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 block-line" >
    <div class="row vertical-align-row">
      <div class="col-sm-8 vertical-align">
        <div class="text-align: justify">
          <h3>2 - Je suis mon portefeuille</h3>
          <p>Pendant la période d'occupation, Livsty s'occupe de la gestion du bien et du suivi avec l'occupant. L'investisseur suit en ligne l'évolution de ses investissements et peut consulter les rapports de gestions régulièrement publiés.</p>
          <p>L'amortissement avec le temps de la valeur d'occupation augmente mécaniquement la valeur de mes parts. La valeur des parts est aussi affectée par l'évolution de la valeur de marché du bien immobilier.</p>
          <p>Si je souhaite revendre mon investissement, je peux en permanence décider de mettre en vente mes parts sur la plateforme Livsty.</p>
        </div>
      </div>
      <div class="col-sm-4 vertical-align">
        <div class="text-center">
          <%= image_tag "line-chart-circle128.png", class: "logo-full", alt: "Croissance du Portefeuille" %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 block-line" >
    <div class="row vertical-align-row">
      <div class="col-sm-4 vertical-align" >
        <div class="text-center">
          <%= image_tag "home-full124.png", class: "logo-full", alt: "Propriété vendue Libre" %>
        </div>
      </div>
      <div class="col-sm-8 vertical-align">
        <div style="text-align: justify">
          <h3>3 - Je récupère le fruit de mes placements</h3>
          <p>Quand le bien est libéré de toute occupation, Livsty s'occupe de vendre le bien au meilleur prix et rembourse aux investisseurs prorata leur nombre de parts dans l'investissement, les montants investis ajustés de la performance réalisée.</p>
          <p>L'investisseur réalise un rendement espéré moyen annuel de 6%* via l'amortissement total de la valeur d'occupation. L'évolution de la valeur marchée du bien immobilier permet d'améliorer encore le rendement pour l'investisseur.</p>
        </div>
      </div>
    </div>
  </div>
</div>
