<div class="row" id="transactions">
  <div class="text-center">
    <hr class="team_hr team_hr_left hr_gray">
    <h2>Comment ça marche ?</h2>
    <hr class="team_hr team_hr_right hr_gray">
  </div>
  <div class="col-sm-12 block-line" >
    <div class="row vertical-align-row">
      <div class="col-sm-4 vertical-align" >
        <%= image_tag("Set-Round_1/Set-Round_-16.png", alt: "Propriété Occupée", class:"logo-full-transaction") %>
      </div>
      <div class="col-sm-8 vertical-align">
        <div>
          <h3>1 - J'investis</h3>
          <p>Investir dans un bien immobilier occupé permet de profiter d’une valeur inférieure à la valeur de marché car diminuée de la valeur du droit d'occupation. Cela constitue une alternative à l’investissement locatif et permet une meilleure gestion du risque tout en répondant à un besoin social croissant auprès de nombreux retraités.</p>
          <p>Comment faire ? Je sélectionne les projets qui m'intéressent et je choisi le montant que je désire investir. Quand le total des montants souscrits par les investisseurs dans le projet atteint le montant recherché, la période de souscription cesse et l'investissement est réalisé. Je deviens co-investisseur dans un bien immobilier que j'ai choisi.</p>
          <%= link_to "Voir les opportunités >", deals_path,class:"ess-ess" %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 block-line">
    <div class="row vertical-align-row">
      <div class="col-sm-8 vertical-align">
        <div>
          <h3>2 - Je suis mon portefeuille</h3>
          <p>Pendant la période d'occupation, Livsty s'occupe de la gestion du bien et du suivi avec l'occupant. L'amortissement avec le temps de la valeur d'occupation augmente mécaniquement la valeur des parts qui est aussi affectée par l'évolution de la valeur de marché du bien immobilier.</p>
          <p>Quel suivi pour moi ? Je peux suivre en ligne l'évolution de mes investissements et consulter les rapports de gestions régulièrement publiés. Si je souhaite revendre mon investissement, je peux à tout moment rechercher un acheteur sur le marché secondaire avec l’assistance de Livsty.</p>
        </div>
      </div>
      <div class="col-sm-4 vertical-align">
        <%= image_tag("Set-Round_1/Set-Round_-15.png", alt: "Croissance du Portefeuille", class:"logo-full-transaction") %>
      </div>
    </div>
  </div>
  <div class="col-sm-12 block-line" >
    <div class="row vertical-align-row">
      <div class="col-sm-4 vertical-align" >
        <%= image_tag("Set-Round_1/Set-Round_-13.png", alt: "Propriété vendue Libre", class:"logo-full-transaction") %>
      </div>
      <div class="col-sm-8 vertical-align">
        <div>
          <h3>3 - Je récupère le fruit de mes placements</h3>
          <p>Quand le bien est libéré de toute occupation, Livsty s'occupe de vendre le bien au meilleur prix et rembourse les investisseurs au prorata de leur nombre de parts dans l'investissement, les montants investis ajustés de la performance réalisée.</p>
          <p>Qu’est-ce que je récupère ? En tant qu’investisseur, je réalise un rendement espéré moyen annuel de 6%* via l'amortissement total de la valeur d'occupation. L'évolution de la valeur marché du bien immobilier permet d'améliorer encore mon rendement.</p>
        </div>
      </div>
    </div>
  </div>
</div>
