<div class="row" id="About">
  <div class="col-md-12">
    <div class="text-center">
      <hr class="team_hr team_hr_left hr_gray">
      <h1>Construire son portefeuille.</h1>
      <hr class="team_hr team_hr_right hr_gray">
    </div>
    <blockquote>
      <p>"In choosing a portfolio, investors should seek broad diversification ...".</p>
      <footer>Harry Markovitz, Prix Nobel d'Economie 1990. <cite title="Source Title"></cite></footer>
    </blockquote>
  </div>
  <p>
    La diversification est au coeur de toute bonne gestion d'actifs.
    Sur Livsty, vous êtes libres de répartir vôtre capital sur les biens qui vous intéressent. Chaque projet est indépendant et possède ses propres caractéristiques. Vous pouvez ainsi vous construire un portefeuille immobilier sur-mesure pour répondre à vos critères.
  </p>
  <div class="col-md-4">
    <div class="thumbnail">
      <%= image_tag "france128.png", alt: "France", class: "img-rounded" %>
      <div class="caption" style="text-align: justify">
        <p>Des Investissements disponibles dans toute la France. Chaque projet posséde ses propres caractéristiques et un profile redement-risqur spécifique. </p>
        <p>Les bien disponibles sont essentiellement des appartements en immeubles collectifs situés dans des zones urbaines majeures et dont le marché immobilier est liquide et profond (Ile de France, Grand Lyon, Côte d’Azur...).</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <%= image_tag "business-chart128.png", alt: "France", class: "img-rounded" %>
      <div class="caption" style="text-align: justify">
        <p>En investissant dans plusieurs projets vous construisez un portefeuille qui vous correspond et qui vous permet de répartir son risque de façon optimale.</p>
          <p>En constituant votre portefeuille, vous maitrisez le risque de longévité tout en profitant de l'amortissement progressif de la décote à l'acquisition du bien. </p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <%= image_tag "fence128bis.png", alt: "France", class: "img-rounded" %>
      <div class="caption" style="text-align: justify">
        <p>Vos investissements sont <mark>ségrégués</mark> et <mark>séparés</mark> du bilan de Livsty. Ainsi, la performance de chaque investissement  est indépendante de celle des autres et protégés en cas de défaillance de Livsty. Dans l'hypothèse ou Livsty ne serait plus en capacité de répondre  à ses obligations, un nouveau gestionnaire serait désigné pour poursuivre administrer les investissements.</p>
      </div>
    </div>
  </div>
</div>
