<div class="row" id="Expertise">
  <div class="text-center">
    <hr class="team_hr team_hr_left hr_gray">
    <h1>Le Concept</h1>
    <hr class="team_hr team_hr_right hr_gray">
  </div>
  <div class="col-md-3 text-center buble">
    <%= image_tag "group128.png", alt: "Croissance" %>
    <h4>Investir ensemble c'est mutualiser le risque.</h4>
  </div>
  <div class="col-md-3  text-center buble">
    <%= image_tag "addition128.png", alt: "Croissance" %>
    <h4>Standardiser, car un bon investissement doit être simple à comprendre.</h4>
  </div>
  <div class="col-md-3 text-center buble" >
    <%= image_tag "hand-shake128.png", alt: "Croissance" %>
    <h4>Intégrer l'ensemble des services c'est préserver le rendement de votre investissement.</h4>
  </div>
  <div class="col-md-3 text-center buble" >
    <%= image_tag "browser128.png", alt: "Croissance" %>
    <h4>Investir en direct dans l'immobilier et gérer son portefeuille en un clic.</h4>
  </div>
</div>
