<div class="row" id="aperçu">
  <div class="col-xs-12">
    <h2>Co-investisseur dans un bien occupé, réappréciation une fois libéré </h2>
    <div class="col-xs-12 col-sm-5" style="text-align: justify">
      <ul>
        <br>
        <li>Investissement dans un bien dont le prix est réduit de sa valeur d'occupation.</li>
        <br>
        <li>Un investissment long terme avec un rendement annualisé espéré supérieur à 6%* par an. </li>
        <br>
        <li>Un investissment transparent dont le profile de risque est défini clairement initialement. </li>
        <br>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-7">
      <div class="col-xs-6 col-sm-6">
        <div class="circle circle-border">
          <div class="circle-inner">
            <div class="score-text">
              <%= image_tag "up-arrow64.png", class:"logo-up", alt: "Croissance" %>
              <h4>Revalorisation Mécanique. </h4>
              <p class="definition"><small>Augmentation mécanique de la valeur de votre investissement avec la libération du bien.</small></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6">
        <div class="circle circle-border">
          <div class="circle-inner">
            <div class="score-text">
              <%= image_tag "up-arrow64.png", class:"logo-up", alt: "Croissance" %>
              <h4>Revalorisation Economique. </h4>
              <p class="definition"><small>Toute évolution positive de la valeur du bien améliore la performance de votre investissement.</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12" id="risks">
    <a role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" >
      > Quels sont les risques. </a>
    <div class="collapse" id="collapseExample">
      <div class="well">
        Capital à risque! La valeur de votre investissement peut varier à la hausse comme à la baisse. Les performances historiques et les prévisions ne sont pas des indicateurs fiables des performances futures. La durée nécessaire avant libération du bien peut varier par rapport à la durée initialement estimée. La performance de l'investissement est également affectée à la baisse comme à la hausse par les variations du prix de l'immobilier.
        Aucune guarantie n'est donnée pour sortir de l'investissement et est sujete à la demande et aux prix. Pour plus de détails, veuillez consulter  <a href="risks.html" >la page dédiée aux Risques.</a>
      </div>
    </div>
  </div>
</div>




