<h3>Your investment has been approved by our team</h3>
<p>
  This is just to let you know that we've approved your recent transaction on Livsty:
</p>

<table>
  <tr>
    <th>Nominal</th>
    <th>Shares</th>
  </tr>
  <tr>
    <td><%= @investment.price %></td>
    <td><%= @investment.shares %>&times;</td>
  </tr>
  <tr>
    <td colspan="2">Total: <%= number_to_currency(@investment.pledge_amount) %></td>
  </tr>
</table>
