section.fs-section {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  // background-attachment: scroll;
  position: relative;
  word-wrap: break-word;
  &-flex {
    z-index: 0;
  }
  .fs-overlay {
    // min-height: 100vh;
    /* if you have a 70px navbar => height: calc(100vh - 70px); */
    min-height: calc(100vh - 70px);

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    // opacity: 0.9;
    // background-color: rgb(15, 118, 153);
    &-flex {
      z-index: 0;
    }
    &-table {
      z-index: 1;
    }
    // & ~ * {
    //   z-index: 2;
    // }
  }
  .container, .container-fluid {
    position: relative;
    word-wrap: break-word;
  }

  /////////////////////////////////
  // background-image: none;
  // background-attachment: scroll;
  // background-size: auto;
  /////////////////////////////////
  // background-color: #eeeeee;////

}
