<div>
  <div class="container text-center">
    <div class="row home-features">
      <div class="col-xs-12 col-sm-3 padded">
        <i class="fa fa-home fa-3x" aria-hidden="true"></i>
        <h3>Une offre personnalisée et adaptée à votre projet.</h3>
        <p>Nous évaluons votre propriété et votre demande pour vous faire une offre sur-mesure. Vous pouvez décider par exemple de n'extraire qu'une partie de la valeur de votre bien.</p>
      </div>
      <div class="col-xs-12 col-sm-3 padded">
        <i class="fa fa-user fa-3x" aria-hidden="true"></i>
        <h3>Votre point de contact unique l'ensemble des démarches.</h3>
        <p>Une fois que vous acceptez notre offre, nous nous chargeons de trouver un acheteur et nous vous suivons pendant toute votre période d'occupation du bien.</p>
      </div>
      <div class="col-xs-12 col-sm-3 padded">
        <i class="fa fa-calendar-plus-o fa-3x" aria-hidden="true"></i>
        <h3>Votre bien vendu en 60 jours! grâce à n otre approche innovante</h3>
        <p>Dites au revoir aux long mois d'incertitude observés habituellement pour une vente en viager. Notre approche innovante nous permet de conclure la vente dans ce délais extrêmement rapide.</p>
      </div>
      <div class="col-xs-12 col-sm-3 padded">
        <i class="fa fa-credit-card-alt fa-3x" aria-hidden="true"></i>
        <h3>Vous percevez immédiatement l'intégralité du capital dû.</h3>
        <p>C'est moins de risques pour vous et une totale liberté quant à l'utilisation des produit de la vente.
        Retraites, vacances, transmissions, les possibilités sont infinies. Vous préférez recevoir une rente ? Nous vous accompagnons pour transformer ce capital en rente viagère.</p>
      </div>
    </div>
  </div>
</div>
