<% provide(:title, "Contacter Livsty") %>
<div class="container">
<div class="row"id="About">

  <div class="col-md-12" style="background-color:#33CCCC;color:white;">
    <h3>Le Concept & l’ambition</h3>
    <p>Livsty dépoussière le Viager et le transforme en une stratégie patrimoniale d’avenir, simple, ouverte à tous et solidaire, à travers une plateforme permettant aux particuliers d’investir dans l’immobilier viager en diversifiant leur risque, tout en apportant une réponse aux seniors à la recherche de financement. L’ambition de Livsty est de devenir le premier partenaire des séniors pour leurs besoins de financement en formulant une offre et en obtenant une source de financement adaptée à leur situation en 60 jours par la mobilisation de l’épargne privée.  A terme, Livsty fournira une gamme de financement adaptée aux vendeurs et aux investisseurs, et différents types de services nécessaires au maintien à domicile. </p>
  </div>
  <div class="col-md-12">
    <div class="col-md-4">
      <%= image_tag("img/team/studio.png", alt: "Chambre", class:"img-responsive",style:"padding:0.75em;") %>
    </div>
    <div class="col-md-8">
      <h3>Livsty & Studio de Sia Partners : </h3>
      <p>Depuis Décembre 2017, Livsty est accompagné par le fonds Studio de Sia Partners au travers d’un appui financier et d’un accompagnement stratégique et opérationnel d’experts financiers, juridiques, marketing et immobiliers. A partir de cette date Livsty va pouvoir bénéficier à la fois des expertises et du réseau Sia Partners afin d’accélérer son développement.</p>
    </div>
  </div>
</div>
<div class="row"id="Team">
    <div class="text-center">
    	<hr class="team_hr team_hr_left hr_gray">
    	<span class="txt_darkgrey">L'EQUIPE</span>
    	<hr class="team_hr team_hr_right hr_gray">
    </div>

  <div class="col-md-4">
    <div class="thumbnail text-center team_member">
      <%= image_tag("img/team/IMG_0412.JPG", alt: "Grégoire Berger", class:"img-circle", style:"width:250px") %>
      <div class="caption">
        <h3 class="team_member_name" >Grégoire Berger</h3>
        <h3 class="team_member_position"><small>Fondateur & Président</small></h3>
        <hr class="team_hr team_hr_left hr_gray">
        <h3 class="team_member_experience text-justify"><small>À l’initiative de Livsty, on retrouve Grégoire, surpris de voir les séniors toujours plus isolés et en difficulté de financement. Convaincu qu’une société se juge à la manière dont elle traite ses aînés, il imagine alors une solution alliant web et finance permettant de répondre à ce problème et permettant à chacun d’être acteur de cette solidarité intergénérationnelle.</small></h3>
        <h3 class="team_member_experience_details"><a href="https://www.linkedin.com/in/gregoire-berger-79861739/" class=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></h3>
      </div>
    </div>

  </div>
  <div class="col-md-4">
    <div class="thumbnail text-center team_member">
      <%= image_tag("img/team/Matthieu.jpg", alt: "Matthieu Courtecuisse", class:"img-circle", style:"width:250px") %>
      <div class="caption">
        <h3 class="team_member_name" >Matthieu Courtecuisse</h3>
        <h3 class="team_member_position"><small>Comité Stratégique</small></h3>
        <hr class="team_hr team_hr_left hr_gray">
        <h3 class="team_member_experience"><small>Fondateur & PDG Sia Partners</small></h3>
        <h3 class="team_member_experience_details"><a href="https://www.linkedin.com/in/matthieu-courtecuisse-28954323/" class=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></h3>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail text-center team_member">
      <%= image_tag("img/team/Elsa-2.jpg", alt: "Elsa Martineau", class:"img-circle", style:"width:250px") %>
      <div class="caption">
        <h3 class="team_member_name" >Elsa Martineau</h3>
        <h3 class="team_member_position"><small>Comité Stratégique</small></h3>
        <hr class="team_hr team_hr_left hr_gray">
        <h3 class="team_member_experience"><small>Responsable Studio, Sia Partners</small></h3>
        <h3 class="team_member_experience_details"><a href="https://www.linkedin.com/in/elsa-martineau-47414b44/" class=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></h3>
      </div>
    </div>
  </div>
</div>
<div class="row"id="Contact">
  <div class="text-center">
  	<hr class="team_hr team_hr_left hr_gray">
  	<span class="txt_darkgrey">NOUS CONTACTER</span>
  	<hr class="team_hr team_hr_right hr_gray">
  </div>
	<div class="col-sm-8">
		<div class="embed-responsive embed-responsive-16by9" id="map-container" { height: 100% }>
			<iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.352892296116!2d2.2978097156748194!3d48.87054887928871!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66fe9db33e1f7%3A0x1e44878738c1a4ba!2s12+Rue+Magellan%2C+75008+Paris!5e0!3m2!1sen!2sfr!4v1513790460570" width="600" height="450" frameborder="0" style="border:0"></iframe>
		</div>
	</div>
	<div class="col-sm-4 contact_right">
		<h4>N'hésitez pas à nous contacter, nous sommes là pour vous aider dans vos projets.</h4>
		<p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>12 Rue Magellan, 75008 Paris</p>
		<p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>   01 75 85 84 24 </p>
		<p><span class="glyphicon glyphicon-globe" aria-hidden="true"></span><a class="link_orange" href="index.html"><span class="txt_orange">  www.livsty.fr</span></a></p>
		<form class="form-horizontal" action="https://www.enformed.io/8wut89ha" method="POST" id="EmailContact">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Votre Nom..." maxlength="40" name="name" required>
			</div>
			<div class="form-group">
				<input type="email" class="form-control" placeholder="Votre Email..." maxlength="40" name="email" required>
			</div>
			<div class="form-group">
				<textarea type="text" class="form-control" style="height: 130px;" placeholder="Tapez votre message..." name="message" required></textarea >
			</div>
			<input type="hidden" name="*default_email" value="contact@livsty.fr" />
      <input type="hidden" name="*bcc" value="greg@livsty.fr" />
			<input type="hidden" name="*honeypot" />
			<input type="hidden" name="*redirect" value="http://www.livsty.fr" />
			<button type="submit" class="btn btn-orange btn-send pull-right">ENVOYER</button>
		</form>
	</div>
</div>
</div>
