<div class="container">
<a name="top"></a>
  <div class="row" id="Faq">
    <div class="col-md-3">
      <nav class="hidden-sm hidden-xs affix" role="navigation">
        <ul class="nav nav-pills nav-stacked">
          <li class="active" role="presentation"><a href="#FAQ-Concept">Individual or compiled</a></li>
          <li class="" role="presentation"><a href="#FAQ-Bien">Data attributes</a></li>
        </ul>
      </nav>
      </div>
    <div class="col-md-9">
      <div class="faq-section" id="FAQ-Concept">
        <h1 class="faq-section-title">Notre mission</h1>
        <div class="faq-subsection">
            <h2 class="faq-subsection-title"></h2>
            <p class="faq-subsection-content">Livsty est la première plateforme d’investissement pour l'immobilier en Viager permettant aux investisseurs de se positionner sur des actifs immobiliers individuels, de diversifier leur portefeuille et de donner du sens à leur épargne en un seul clic.
D’un côté les Seniors n’ont que peu d’options pour monétiser l’épargne bloquée dans leur patrimoine immobilier. De l’autre, l’immobilier résidentiel est un investissement populaire avec de solides antécédents, mais il n'est pas toujours facile d'y accéder. Le Viager est encore plus marginaisé par les investisseurs avec de nombreux apriori négatifs et un risque important. Notre objectif est de créer un produit gagnant-gagnant et apporter accessibilité, simplicité et liquidité à cette classe d'actifs.
Livsty permet aux Seniors de trouver des ressources supplémentaires dont ils ont besoin et aux investisseurs d'investir dans l’immobilier, de participer à la solidarité intergénérationnelle et de vendre votre investissement sur le marché de la revente.
</p>
        </div>
      </div>
      <div class="faq-section" id="FAQ-Biens">
        <h1 class="faq-section-title">Les différents types d’opportunités</h1>
        <p>Livsty offre sur sa plateforme deux types d’opportunités pour les investisseurs : Les Nouvelles Opportunités et un marché de la revente de parts de projets existants (Marché-Secondaire).</p>
        <div class="faq-subsection">
            <h2 class="faq-subsection-title">Les Nouvelles Opportunités</h2>
            <p class="faq-subsection-content">Les « Nouelles Opportunités » correspondent aux biens occupés par des Seniors qui nous ont mandatés pour réaliser une vente en Viager avec un délais de cloture attendu dans les prochaines semaines. Les fonds nécessaires pour réaliser l’achat de ces biens sont financés en direct via notre plateforme selon un calendrier prédéfini.
Lorsque vous engagez des fonds pour une « Nouvelle Opportunité», le montant que vous investissez est apporté est bloqué sur le compte séquestre du projet. L’argent est bloqué sur ce compte jusqu'à ce que l'objectif de financement soit atteint.
En cas de situation inattendue d’une nouvelle opportunité qui n’atteindrait pas l’objectif de financement dans le délai imparti ou si l’opération échouait pour des raisons diverses (par exemple que la propriété révélait des malfaçons non notées initaialement), tous les fonds transférés seront remboursés aux clients respectifs dans leur intégralité – Livsty ne facturant ni ne percevant aucun frais de la parts des investisseurs.
</p>
        </div>
        <div class="faq-subsection">
            <h2 class="faq-subsection-title">Pré-commande</h2>
            <p class="faq-subsection-content">Toutes les « Nouvelles Opportunités » sont disponibles en « Pré-Commande » pour une période de temps prédéfinie avec (si besoin) le passage à un financement en direct par la suite.
La pré-commande garantit une fenêtre d'au moins plusieurs jours pour que tout le monde puisse participer à une nouvelle opportunité. Cela permet à chacun peut prendre du temps pour bien comprendre les informations du projet sans manquer l'opportunité d'investir. La date de clôture de la pré-commande est affichée dans la page de description du projet.
Lorsque vous investissez pendant la période de Pré-commande vous ne manquerez pas l’opportunité d’investir dans le projet. Cependant, afin de garantir l’équité pour tous, nous pouvons être amenés à procéder à une réduction d’ordres si le total excède l’objectif de financement pour la nouvelle opportunité.
</p>
        </div>
        <div class="faq-subsection">
            <h2 class="faq-subsection-title">Qu’est-ce qu’une réduction d’ordres.</h2>
            <p class="faq-subsection-content">Une réduction d’ordre peut être appliquée si les pré-commandes sont sur-souscrites. Lorsque le total des engagements des investisseurs dépasse l’objectif de financement pour la nouvelle opportunité, votre engagement peut être réduit au prorata. Par exemple, si l’objectif de financement est de €300 000 mais que nous recevons des pré-commandes pour un total de €600 000, vous recevrez alors la moitié de votre commande initiale.
            </p>
        </div>
      </div>
    </div>
  </div>
</div>
