<div class="container">
  <a name="top"></a>
    <div class="row" id="Home">
      <div class="col-md-12 " style="text-align: justify">
        <h1>Facteurs de Risques </h1>
        <h2>Avertissements</h2>
        <p>Avant tout investissement dans les projets présentés sur LIVSTY, vous devez procéder, sans vous fonder exclusivement sur les informations qui vous ont été fournies, à votre propre analyse des avantages et des risques du projet du point de vue juridique, fiscal et comptable, en consultantsi vous le jugez nécessaire, vos propres conseils en la matière ou tout autres professionnels compétents. Livsty SAS ne pourra être tenu responsable de l'analyse, porpre à la situation de chaque investisseur, des avantages et des risquses d'un point de vue juridique, fiscal ou comptable, d'un investissement dans un projet présenté sur LIVSTY.
        </p>
        <p>Les projet d'investissements présentent, comme tout investissement, des risques. Il est important pour l'investisseur de bien comprendre et connaitre ces risques afin de choisir une solution adaptée pour son épargne et de pouvoir gérer son exposition à ces risques notamment en diversifiant.
        </p>
        <h3>L'importance de la diversification.</h3>
        <p>La diversification consiste à répartir vos investissements sur différents types de placements aux caractéristiques de risques différentes afin de diluer et répartir le risque global de
        votre épargne. Vous limitez ainsi le risque d'une perte importante de votre portefeuille en cas de chute de la valeur d'un actif en particulier. Cependant cette stratégie n'éliminera pas tous les risques.
        Tout investisseur doit donc arbitrer entre la rentabilité d’un placement et le risque encouru. Tout investissment sur des projets proposés par LIVSTY devrait être équilibré avec des
        investissements plus liquides et au profile de risque différent. Tout épargnant devrait également répartir le montant investi sur LIVSTY en un portefeuille de plusieurs projets afin d'augmenter ses chances d'un retour sur investissement régulier.
        </p>
        <h3>Risques dans les projets présentés.</h3>
        <p>L'investissement immobilier sur LIVSTY n'implique pas un retour sur investissement via un paiement régulier (coupon, intérêt, dividendes, etc...) mais via une revalorisation du capital investi du fait de la libération du bien initialement occupé ainsi que par l'appréciation potentielle de la valeur de ce bien. L'investisseur n'a aucune garantie sur la durée effective qui sera nécessaire avant la libération du bien. Durant cette phase d'immobilisation, certains couts d'entretiens, de gestions ou fiscaux, peuvent se révéler plus importants qu'initialement
        provisionnés. Se construire un portefeuille diversifié permet de mieux gérer ces risques qu'il faut cependant garder à l'esprit:
        </p>
      </div>
      <div class="col-md-12 ">
        <div class="col-md-4 ">
          <h3 style="text-align: left">
          <a  role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" >
            Risques Généraux > </a>
          </h3>
        </div>
        <div class="col-md-8 ">
          <div class="collapse" id="collapseExample">
            <div class="well">
              Les investissements proposés impliquent des risques et notamment la possibilité de perte de la totalité du capital investi. En raison des risques, un investissement n’est adapté qu’aux
              personnes qui comprennent les risques inhérents à un investissement immobilier de type viager proposé par LIVSTY et qui sont capables de supporter le risque économique de l’investissement.
              Toute personne souhaitant investir doit s'assurer que l’investissement est adapté à son objectif d’investissement et à ses besoins financiers personnels et qu'elle n’a pas besoin de liquidité dans leur investissement. Tout investisseur potentiel doit tenir compte de la liste non-exhaustive suivante des risques d’investissement :
              <ul>
                <li>Des risques additionnels et incertitudes inconnus peuvent avoir un effet négatif sur leur investissement</li>
                <li>Aucun conseil légal, juridique ou fiscal n’est donné aux investisseurs</li>
                <li>Les investissements proposés sont par nature long-terme et incertains dans leur durée effective</li>
                <li>L’investissement direct ou indirect dans l’immobilier peut être négativement impacté par un retournement du marché immobilier</li>
                <li>Les changements dans les conditions économiques, comme par exemple, les taux d’intérêts, d’inflation, les conditions du secteur, la compétition, les événements politiques et tendances, la fiscalité et autres facteurs peuvent substantiellement impacter et détériorer les investissements en général et les
                investissements immobiliers en particulier</li>
                <li>Aucune garantie n’est donnée quant à la performance des investissements ou la réalisation des objectifs de l’investissement</li>
                <li>Il n’y a pas de marché public pour les investissements proposés par Livsty et il n’est pas attendu d’en voir un se développer</li>
                <li>La performance passée, simulée ou espérée n’est pas un gage de la performance future</li>
                <li>Les informations fournies au sujet des performances et rendements futurs ne peuvent pas être considérées comme un indice fiable des performances qui seront effectivement réalisées</li>
                <li>La valeur de leurs investissements peut être réduite substantiellement comme résultat de ces risques et les investisseurs peuvent perdre tout ou partie de
                leur capital investi</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 ">
        <div class="col-md-4 ">
          <h3 style="text-align: left">
          <a  role="button" data-toggle="collapse" href="#risk2" aria-expanded="false" aria-controls="collapseExample" >
            Risque Immobilier > </a>
          </h3>
        </div>
        <div class="col-md-8 ">
          <div class="collapse" id="risk2">
            <div class="well">
              Les performances historiques ne garantissent pas les performances futures et tous les investisseurs doivent être conscients que les prix de l’immobilier peuvent évoluer à la hausse comme à la baisse.
              La valeur de votre investissement est entre autre déterminée par la valeur nette de l’actif immobilier sous-jacent et de la valeur du droit d’occupation restante. Tout passif, tel que les couts futurs d’entretien, peut impacter la valeur de votre investissement.
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 ">
        <div class="col-md-4 ">
          <h3 style="text-align: left">
          <a  role="button" data-toggle="collapse" href="#risk3" aria-expanded="false" aria-controls="collapseExample" >
            Risque à la Vente >  </a>
          </h3>
        </div>
        <div class="col-md-8 ">
          <div class="collapse" id="risk3">
            <div class="well">
              Une fois le bien immobilier libéré de toute occupation, Livsty se charge de mettre en vente le bien. De nombreux paramètres pourront affecter la valeur et la facilité de revente des biens, et affecter ainsi le taux de rendement servi aux investisseurs. Livsty ne consent aucune garantie, explicite ou implicite quant à la liquidité, la valeur et la demande potentielle pour les biens au moment de leur vente.
              Livsty se réserve le droit de disposer des actifs de n’importe quel projet et de transférer le produit net (de la vente) aux investisseurs à tout moment. Cela peut être le résultat d’une dette fiscale et les investisseurs sont encouragés à consulter leur propre conseil pour leur situation fiscale.
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 ">
        <div class="col-md-4 ">
          <h3 style="text-align: left">
          <a  role="button" data-toggle="collapse" href="#risk4" aria-expanded="false" aria-controls="collapseExample2" >
            Risque de Liquidité >  </a>
          </h3>
        </div>
        <div class="col-md-8 ">
          <div class="collapse" id="risk4">
            <div class="well">
              La liquidité est la facilité de cession des parts investies dans les projets. Livsty prévoit de mettre en place la possibilité pour les investisseurs de revendre à tout moment ses parts sur la plateforme. Aucune garantie de revente n'est cependant donné et vous devez considérer cet investissement comme un placement long-terme.
              Le timing, le prix et la capacité à sortir de cet investissement dépendra entre autres, d’éléments macroéconomiques, comme la liquidité du marché immobilier, les taux d’intérêt et le climat économique général. De plus le processus de vente peut être amené à durer plusieurs mois et/ou ne pas aboutir.
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 ">
        <div class="col-md-4 ">
          <h3 style="text-align: left">
          <a  role="button" data-toggle="collapse" href="#risk5" aria-expanded="false" aria-controls="collapseExample2" >
            Risque sur la Durée d'Investissement >  </a>
          </h3>
        </div>
        <div class="col-md-8 ">
          <div class="collapse" id="risk5">
            <div class="well">
              La durée d'investissment est notamment déterminée par la période d’occupation du bien. Cette dernière est estimée initialement à partir des données statistiques. Aucune garantie n’est donnée quant à la réalisation actuelle de cette durée d’occupation. Cette durée peut se révéler plus longue ou plus courte qu’initialement estimée et affecter la performance
              de votre investissement.
              Une fois le bien libéré de toute occupation, la Durée d'Investissement est conditionnée par le Risque de Vente.
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 ">
        <div class="col-md-4 ">
          <h3 style="text-align: left">
          <a  role="button" data-toggle="collapse" href="#risk6" aria-expanded="false" aria-controls="collapseExample2" >
            Risque Réglementaire >  </a>
          </h3>
        </div>
        <div class="col-md-8 ">
          <div class="collapse" id="risk6">
            <div class="well">
              L'investissment peut être affecté par tout changement dans l'environnement juridique, légal, fiscal ou comptable. Livsty SAS ne pourra être tenu responsable des conséquences qui pourraient découler de tels changements. Les personnes physiques ou morales sont invitées à se renseigner sur la fiscalité et règles juridiques, légales et comptables qui leur sont propres.
            </div>
          </div>
        </div>
      </div>
    </div>
  <%= render "shared/contact" %>
  <%= render "shared/legals" %>
</div>

