<div class="container">
  <a name="top"></a>
    <div class="row" id="Home">
      <img src="../img/PhotoLivsty/senior-citizen-shrink.jpg" class="img-responsive " alt="Image Accueil Solidaire">
      <div class="text-overlay">
        <div class="col-md-12 " style="text-align: justify">
          <h1>Nous croyons en <span class="ess-ess">une nouvelle <br> expérience Viager.</span ></h1>
          <!-- <h3>Capabilities</h3> -->
          <div class="col-md-8 bottom">
            <h3 style="text-align: left">Vendez votre bien en Viager avec Livsty</h3>
            <h4 style="text-align: left"> et épargnez vous les lourdeurs d'annonces, visites, négociations et mois d'incertitudes.</h4>
            <br>
            <div class="input-group">
              <input type="text" class="form-control brr" placeholder="Entrez votre adresse...">
              <div class="input-group-btn">
                <button class="btn btn-default offer-btn" type="button">Et recevez notre Offre -></button>
              </div>
            </div><!-- /input-group -->
          </div>
        </div>
      </div>
    </div>
</div>
