#admin .col-md-3 h2 {
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold; color: #959595;
  padding-left: 15px;
}

.panel {
  border: 0;
}
.panel-default .panel-heading {
  color: #ffffff;
  background-color: #00A699;
  font-size: 18px;
  font-weight: 400;
}

.user-info {
  .row-space-1 {
    margin-top: 6px;
    margin-bottom: 6px;
  }

  .row-space-2 {
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .row-space-3 {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .description {
    color: #575757;
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
  }
}

.text-check-green, .icon-check-green {
  color: #00A699;
}
