.btn {
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  padding: 9px 27px;
}

.btn.btn-default-upload {
  width: 100%;
  border-color: #c4c4c4;
  background: white;
  color: #484848;
  border-radius: 2px;
  padding: 10px 0;
  margin-top: 10px;
}

.btn.btn-form {
  // border: 1px solid #00A699;
  // background-color: #00A699;
  border: 1px solid #33CCCC;
  background-color: #33CCCC;
}

.btn.btn-form:active {
  outline: none;
  border-color: #066165;
  background-color: #066165;
}


.btn-block {
  display: block;
  white-space: normal;
  width: 100%;
}

.btn.btn-normal {
  border: 1px solid #33CCCC;
  background-color: #33CCCC;
}

.btn.btn-normal:hover {
  outline: none;
  color: #F5F5F5;
  border-color: #C1EFEF;
  background-color: #C1EFEF;
}
