.logo-up {
  max-width:7vw;
}

.logo-full{
  max-width:18vw;
}

// .vertical-align-row {
//   display: flex;
//   flex-direction: row;
// }
// .vertical-align{
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

.greyback{
  padding-left: 25%;
  padding-right: 25%;
  padding-radius: 20px;
  background: rgba(105, 105, 105, 0.7);
  background-clip: content-box;
}
.greyback-title{
  font-size:22px;
}

.espace{
  min-height:80px;
}

// p , .well{
//   text-align: justify;
// }
