.logo-up-arrow {
  max-width: 5vw;
}

.logo-up {
  max-width: 7vw;
}

.logo-full{
  max-width: 18vw;
}

.vertical-align-row {
  display: flex;
  flex-direction: row;
}
.vertical-align{
  display: flex;
  align-items: center;
  justify-content: center;
}





