<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <div class="page-header">
        <h1>Edit Deal</h1>
      </div>
      <%= render "simple_form", deal: @deal %>

      <!-- @deal.errors -->

      <%= link_to "back to deals", deals_path %>
    </div>
  </div>
</div>
