<!-- <div class="container">
  <div class="row">
  <-% @deals.each do |d| %> -->
<!--     <div class="col-xs-12 col-sm-4">
      <-%= render "shared/card-livsty", deal: d %>
    </div> -->
<!--   <-% end %>
  </div>
</div> -->

<div class="page-header">
  <h1>Our current opportunities</h1>
</div>
<ul class="actions">
  <li><%= link_to "New Deal", new_deal_path, class: "new" %></li>
</ul>


<div class="container">
  <div class="row">
    <% @deals.each do |d| %>
      <%= render "shared/card-properties", deal: d %>
      <!-- /////////////////////// for test only-->
      <!-- link_to "Edit Deal", edit_deal_path(id: d.id) %> -->
      <!-- /////////////////////// -->
    <% end %>
  </div>
</div>



<!-- /////////////////////// for test only-->
<%= render "tests/deals" %>
<!-- /////////////////////// -->
