<div class="container">
  <div class="row margin-top">
    <div class="col-xs-12">
      <% @deals.each do |d| %>
        <%= render "shared/card-properties", deal: d %>
      <% end %>
    </div>
  </div>
</div>




