<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
    <h1>New Deal</h1>
    <%= render "form", deal: @deal %>

    <!-- @deal.errors -->

    <%= link_to "back", deals_path %>
    </div>
  </div>
</div>




