<div class="banner-show-deal" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= @deal.image_url %>');">
  <div class="banner-show-deal-content">
    <h1><%= @deal.address %></h1>
    <p><%= @deal.occupancy %></p>
  </div>
</div>
