/* Navbar avatar item */
.navbar-avatar-item {
  flex: 0 1 auto;
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar avatar dropdown menu */
.navbar-avatar-dropdown-menu {
  // margin-top: 15px;
  margin-top: 24px;
  box-shadow: 1px 1px 4px #E6E6E6;
  // border-color: #E6E6E6;
  border-color: $navbar-color-lightgray;
  min-width: 100%;
  background-color: $navbar-background-gray;
}
.navbar-avatar-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  // color: #999999 !important;
  // color: $navbar-color-lightgray !important;
  color: #F5F5F1 !important;
  // color: $navbar-color-darkgray !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-avatar-dropdown-menu li > a:hover {
  background: transparent !important;
  // color: black !important;
  color: $navbar-color-darkblue !important;
}
.navbar-avatar-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  // background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
