<div class="row" id="Expertise">
  <div class="text-center">
    <hr class="team_hr team_hr_left hr_gray">
    <h1>Notre Solution</h1>
    <hr class="team_hr team_hr_right hr_gray">
  </div>
  <div class="col-md-3 text-center buble">
    <%= image_tag "mortgage128.png", alt: "Personalisée" %>
    <h4 class="text-justify">Une offre personnalisée et adaptée à votre projet. Nous évaluons votre propriété et votre demande pour vous faire une offre sur-mesure. Vous pouvez décider par exemple de n'extraire qu'une partie de la valeur de votre bien.</h4>
  </div>
  <div class="col-md-3 text-center buble" >
    <%= image_tag "connection128.png", alt: "Simple" %>
    <h4 class="text-justify">Nous sommes votre point de contact unique l'ensemble des démarches. Solicitations, visites et dérangements ne sont plus qu'un mauvais souvenir. Une fois que vous acceptez notre offre, nous nous chargeons de trouver un acheteur et vous suivons pendant toute votre période d'occupation du bien.</h4>
  </div>
  <div class="col-md-3  text-center buble">
    <%= image_tag "calendar128.png", alt: "Rapide" %>
    <h4 class="text-justify" >Votre bien vendu en 60 jours! Dites au revoir aux long mois d'incertitude observés habituelement pour une vente en viager. Notre approche innovante nous permet de conclure la vente dans ce délais extrêmeent rapide. </h4>
  </div>
  <div class="col-md-3 text-center buble" >
    <%= image_tag "money-bag128.png", alt: "Complète" %>
    <h4 class="text-justify">Vous percevez immédiatement l'intégralité du capital qui vous est dû. C'est moins de risques pour vous et une totale liberté quant à l'utilisation des produit de la vente. Retraites, vacances, transmissions, les possibilités sont infinies. Vous préférez recevoir une rente ? Nous vous accompagnons pour transformer ce capital en rente viagère.</h4>
  </div>
</div>
