<div class="row" id="Services">
  <div class="col-md-12">
    <div class="text-center">
      <hr class="team_hr team_hr_left hr_gray">
      <h1>Le viager en toute simplicité</h1>
      <hr class="team_hr team_hr_right hr_gray">
    </div>
    <p style="text-align: justify" >Les vendeurs en viager réalisent souvent un peu tard la difficulté de trouver un acheteur pour leur bien. En plus du processus fastidieux d'une vente immobilière, vient s'ajouter la complexité du viager. Notre objectif, vous proposez une solution simple, rapide et personalisée à vos besoin. Les visites, négociations, transactions qui échouent et les mois d'attentes ne seront plus qu'un mauvais souvenir. Nous vous faisons une offre qui correspond à vos besoins et que nous nous efforçons de financer en 60jours maximum. Vous touchez l'intégralité de l'offre à vous d'en profiter !</p>
  </div>
  <div class="col-md-3">
    <h3 class="text-center">Simplicité</h3>
    <br>
    <p style="text-align: justify">Vous souhaitez extraire la valeur de votre propriété mais conserver le droit d'y vivre. </p>
  </div>
  <div class="col-md-3">
    <h3 class="text-center">Rapidité</h3>
    <br>
    <p style="text-align: justify">Nous vous faisons une offre et nous la finançons dans un délais de 60j.
    </p>
  </div>
  <div class="col-md-3">
    <h3 class="text-center">Liberté</h3>
    <br>
    <p style="text-align: justify" >Vous choisissez comment vous souhaitez percevoir votre capital. </p>
  </div>
  <div class="col-md-3">
    <h3 class="text-center">Sécurité</h3>
    <br>
    <p style="text-align: justify">Pas d'impayés et ni de manque à gagner. Nous gérons le bien pendant la peridode d'occupation.</p>
  </div>
</div>
