<div class="row" id="Transactions">
  <div class="text-center">
    <hr class="team_hr team_hr_left hr_gray">
    <h1>Comment Vendre votre bien avec nous.</h1>
    <hr class="team_hr team_hr_right hr_gray">
  </div>
  <div class="col-md-12 block-line" >
    <div class="col-md-4" >
      <div class="text-center">
        <%= image_tag "student128.png", alt: "Discussion" %>
      </div>
    </div>
    <div class="col-md-8">
      <div style="text-align: justify">
      <h3>1. Racontez nous votre projet.</h3>
      <p>Remplir en ligne ce formulaire ne prend que quelques minutes et est entièrement gratuit.</p>
      </div>
    </div>
  </div>
  <div class="col-md-12 block-line" >
    <div class="col-md-8">
      <div class="text-align: justify">
        <h3>2. Nous analysons votre projet et nous vous faisons une offre.</h3>
        <p>Grace à formulaire que vous avez rempli, nous prenons contacte avec vous en ayant déjà un aperçu de vos souhaits. Une visite de votre bien et la construction ensemble de notre projet nous permettra de vous faire une offre adaptée à vos besoins.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="text-center">
        <%= image_tag "houseOffer128.png", alt: "Etude du Projet" %>
      </div>
    </div>
  </div>
  <div class="col-md-12 block-line" >
    <div class="col-md-4" >
      <div class="text-center">
        <%= image_tag "moneytime128.png", alt: "Mise en Vente" %>
      </div>
    </div>
    <div class="col-md-8">
      <div style="text-align: justify">
        <h3>3. Nous commercialisons votre bien pendant 60j.</h3>
        <p>Nous prenons en charge l'ensemble du processus de vente. Aucune visite n'est nécessaire. Une fois le montant d'investissement obtenu, la vente peut être conclu selon les termes de l'offre précédemment proposée. </p>
      </div>
    </div>
  </div>
  <div class="col-md-12 block-line" >
    <div class="col-md-8">
      <div class="text-align: justify">
        <h3>4. La vente est signée et vous continuez à occuper l'habitation.</h3>
        <p>Vous percevez la totalité du capital dû et vous êtes totalement libre de son utilisation. Nous vous accompagnons si vous désirez convertir ce capital en rente.</p>
        <p>Nous nous chargeons de la gestion de votre bien.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="text-center">
        <%= image_tag "peoplehousemoney128.png", alt: "Signature" %>
      </div>
    </div>
  </div>
</div>
