.page-header {
  position: relative;
  padding-bottom: 0px;

  &:first-child { margin-top: 20px; }

  h1, h2, h3, h4, h5, h6 { max-width: 55%; }

}

ul.actions {
  @extend .list-unstyled;
  @extend .list-inline;
  position: absolute;
  bottom: -2px;
  right: 2px;
  max-width: 45%;
  text-align: right;
}

ul.actions-left {
  @extend .list-unstyled;
  @extend .list-inline;
  position: absolute;
  bottom: -2px;
  left: 2px;
  max-width: 45%;
  text-align: right;
}

a.new, a.edit, a.delete, a.back {
  @extend .btn;
  &:before {
    font-family: "FontAwesome";
    padding-right: 0.5em;
  }
}
a.new {
  @extend .btn-success;
  &:before {
    @extend .fa-plus;
  }
}
a.edit {
  @extend .btn-primary;
  &:before {
    @extend .fa-pencil;
  }
}
a.delete {
  @extend .btn-danger;
  &:before {
    @extend .fa-trash;
  }
}
a.back {
  @extend .btn-info;
  &:before {
    @extend .fa-arrow-left;
  }
}
