/* css-deal-card specific */
.overview-asset {
  font-size:0.9em;
  color: #696969;
}

.overview-asset * {
  color: #696969;
//   font-variant-numeric: lining-nums;
//   -moz-font-feature-settings: "lnum" 1;
//   -moz-font-feature-settings: "lnum=1";
//   -ms-font-feature-settings: "lnum" 1;
//   -o-font-feature-settings: "lnum" 1;
//   -webkit-font-feature-settings: "lnum" 1;
//   font-feature-settings: "lnum" 1;
}

a.overview-asset:hover, a.overview-asset:focus, a.overview-asset.active {
  text-decoration: none;
  border-color: #33CCCC;
}
.overview-asset-head {
  padding: 10px 7px;
  margin-bottom: 0;
}

.deal-property-address {
  padding-right: 0px;
}
.overview-asset .glyphicon {
  color: #C1EFEF;
  transition: color .2s ease-in-out;
}
a.overview-asset:hover .glyphicon, a.overview-asset:focus .glyphicon, a.overview-asset.active .glyphicon {

  color: #33CCCC;
}

.deal-property-type, .deal-investors, .deal-progress-deadline {
  text-align:right;
}

.value {
  max-width: 100%;
  display:block;
}
.overview-asset-visuel {
  position: relative;
  background: #DEDEDE;
}

.overview-asset-visuel::before {
  display: inline-block;
  vertical-align: middle;
  margin-top: 66.666%;
  content: '';
}

.overview-asset-visuel-image {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.overview-asset-data-investors {
  margin-bottom: 0;
}
.deal-size-funded, .deal-investors-number,.deal-expected-return-number, .deal-expected-maturity-number {
  font-size:1.4em;
  font-weight:500;
}
.deal-size-target, .deal-investors,.deal-expected-return, .deal-expected-maturity {
  font-weight:400;
}
.overview-asset-data-progress {
  border-bottom: 1px solid #DEDEDE;
}
.progress {
  height:7px;
  margin-bottom: 0px;
}
.progress-bar {
  background-color: #C1EFEF;
  -webkit-transition: background-color .2s ease-in-out;
  -o-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
}
.overview-asset:hover .progress-bar {
  background-color: #33CCCC;
}

.overview-asset-data-yield {
  text-align:center;
}
.overview-asset-data-yield-title {
  margin-top:0.7em;
  margin-bottom:0.7em;
  font-size: 1.5em;
}
