.close{
  font-size:28px;
}

#mc-embedded-subscribe{
  margin: 0px;
  max-height:40px;

}

.offer-btn{
  border-color:#C1EFEF;
  background-color: #33CCCC;
  color:#F5F5F5;
}

// li a.btn-bar{
//   background-color: #33CCCC;
//   color:#F5F5F5;
//   margin-top: 21px;
//   padding-top: 10px;
//   padding-bottom: 7px;

//   margin-left: 3px;
//   margin-right: 3px;
//   border-radius: 5px;
//   border: none;

// }
// li a.btn-bar:hover{
//   background-color: #C1EFEF;
//   color:#F5F5F5;
// }
