.close {
  // font-size:28px;
  font-size:32px;
}

#mc-embedded-subscribe {
  margin: 0px;
  max-height:40px;
}

.offer-btn {
  border-color:$navbar-color-lightblue;
  background-color: $navbar-color-darkblue;
  color:$navbar-color-lightgray;
}
