.text-overlay {
  padding: 15px;
  // position: absolute;
  // z-index: 1;
  // top: 7%;
  // left: 0;
  }

.text-overlay h1 {
  font-size: 4em;
  // color: #33CCCC;
  // color: #777777;
  // padding-top:0.5em;
  // padding-bottom:0.5em;
  font-weight: 300;


  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {

  .text-overlay h1 {
    font-size: 1em /* 24px / 16px */
  }
  .text-overlay p {
    font-size: 0.46875em /* 7.5px / 16px */
  }
  .text-overlay h3 {
    font-size: 0.5625em /* 9px / 16px */
  }
}

.text-overlay p {
  opacity: 0.7;
  // max-width: 80%;
  // margin: 0 auto;
  }

.ess{
  color:#D3D3D3;
}
.ess-ess{
  color:#33CCCC;
}

.bottom {
  // top:100px;
  // margin-bottom:5px;
  // padding-bottom:5px;
  color: #C1EFEF;
}
.greyback{
  // padding-left: 25%;
  // padding-right: 25%;
  // padding-radius: 20px;
  // background: rgba(105, 105, 105, 0.7);
  // background-clip: content-box;
}
