.banner-homepage {
  position: relative;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  // background-attachment: scroll;
  /* if you have a 76px navbar => height: calc(100vh - 76px); */
  height: calc(100vh - 76px);
  color: white;

  // flexbox
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // text-align: center;

}

.banner-homepage img {
  max-width: 100%;
}

.text-overlay {
  // padding: 15px;

// transform-translate
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  //or

  // position: relative;
  // float: left;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);


// position: absolute with top or margins;
  // top: 0;
  // left: 0;
  // bottom: 0;
  // right: 0;

  // top: 50%;
  // left: 0;
  // right: 0;
  // margin-top: 3%;
  // margin-top: -3%;

}


.text-overlay h1 {
  // font-size: 4em;
  // color: $navbar-color-darkblue;
  // color: $navbar-color-darkgray;

  font-weight: 300;

  // padding-top:0.5em;
  // padding-bottom:0.5em;
  // padding-top:3%;
  // padding-bottom:3%;

  // margin-bottom: 20px;
}

span.nowwrap {
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  .container.no-padding {
    width: 80%;
    padding: 0px !important;
  }
  span.nowwrap {
    white-space: normal;
  }
}

.text-overlay p {
  opacity: 0.7;
  // max-width: 80%;
  // margin: 0 auto;
}

.greyed{
  color:$navbar-background-gray;
}
.greened{
  color:$navbar-color-darkblue;
}

.turquoise {
  color: $navbar-color-lightblue;
}

.blueback {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  // background: rgba(51, 51, 51, 0.3);
  color: $navbar-color-lightblue;
  font-weight: 500;
}
