// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
// @import 'jquery-ui/core.css';
// @import 'jquery-ui/datepicker.css';
// @import 'jquery-ui/theme.css';
@import "toastr";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS
@import "admin/index";
@import "banner/banner";
@import "banner/banner-tables";
@import "deal/index";
@import "footer/index";
@import "investment/index";
@import "layout/index";
@import "nav/index";
@import "components/index";
@import "pages/index";
@import "typography/index";
@import "vendor/index";

body {
  background-color: $navbar-color-lightgray;
  color: $body-color-darkgray;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

#toast-container {
  // top: 12px;
  // position: static !important;
  margin: 0 !important;
  text-align: center !important;
  top: 76px;
  left: 2px;
}

#toast-container > div {
  // width: 100% !important;
}


