body {
    font-size: 100%; /* start with a flexible baseline */
}

h1 {
    font-size: 2.5em; // 41 ÷ 16 = 2.5625em
}
@media screen and (max-width: 50em) {
    h1 {
        font-size:2em;
    }
}
@media screen and (max-width: 40em) {
    h1 {
        font-size:1.5em;
    }
}
@media screen and (max-width: 30em) {
    h1 {
        font-size:1.2em;
    }
}
