<div class="row">
  <div class="col-md-3">
    <%= render 'deal_menu' %>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">

      <div class="panel-heading">
        Listing
      </div>

      <div class="panel-body">
        <div class="container">

          <%= render "form", deal: @deal %>

        </div>
      </div>

    </div>
  </div>
</div>
