<div class="container" style="width: 80%;">
  <div class="panel panel-default">
    <div class="panel-heading">
      Ajouter une opportunité d'investissement
    </div>
    <div class="panel-body">
      <div class="container" style="width: 80%;">

        <%= render "form", deal: @deal %>

      </div>
    </div>
  </div>
</div>

<ul class="actions-left">
  <li><%= link_to "Back to Deals",
  admin_deals_path,
  class: "back" %>
  </li>
</ul>
