<div class="container" style="width: 80%;">
  <div class="row">
    <div class="col-md-3">
      <%= render 'deal_menu' %>
    </div>
    <div class="col-md-9">
      <div class="panel panel-default">

        <div class="panel-heading">
          Pricing
        </div>

        <div class="panel-body">
          <div class="container" style="width: 80%;">

            <%= form_for @deal do |f| %>

              <div class="row">
                <div class="form-group niagara">
                  <label>Pricing</label>
                  <%= f.number_field :funding_goal, placeholder: "What is the funding goal?", class: "form-control", min: 10000, :step => 1000 %>
                </div>
              </div>

              <div class="text-center">
                <%= f.submit "Save", class: "btn btn-form" %>
              </div>

            <% end %>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
